{% extends 'base.html' %}
{% block content %}


<div class="header text-center">
    <h3 class="fs-4 fw-bold">Task Form</h3>
</div>
<br>

<div class="d-flex justify-content-center">
    <form method="POST" action="" id="newForm">
        {% csrf_token %}
        {% for input in form %}
        
            <p class="text-center">{{input.label}}</p>
            <p>{{input}}</p>
        
        {% endfor %}
        
        <!-- <table>
            {{form.as_div}}
            <tr>  
                <td></td>
            </tr>
        </table> -->
        
    <div class="header text-center">
        <input class="btn btn-outline-danger my-4" type="submit" value="Create Task"/>
    </div>
    </form>
    
</div>

{% endblock content %}