{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 PBP</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table>
    <tr>
      <th>Watch</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Reviw</th>
    </tr>
    {% for movie in watch_list %}
        <tr>
            <th>{{movie.watch}}</th>
            <th>{{movie.title}}</th>
            <th>{{movie.rating}}</th>
            <th>{{movie.release_date}}</th>
            <th>{{movie.review}}</th>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}
